/.vscode/launch.json
/.vscode/settings.json
/__pycache__/segment.cpython-35.pyc
/__pycache__/segment.cpython-36.pyc
/__pycache__/segment.cpython-37.pyc
/__pycache__/utils.cpython-35.pyc
/__pycache__/utils.cpython-36.pyc
/__pycache__/utils.cpython-37.pyc
/__pycache__/utilsd_db.cpython-35.pyc
/codeEdward/codeEdward/HGB_Edward/general.make
/codeEdward/codeEdward/HGB_Edward/gmon.out
/codeEdward/codeEdward/HGB_Edward/HGB_Edward.xcodeproj/project.pbxproj
/codeEdward/codeEdward/HGB_Edward/HGB_Edward.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/codeEdward/codeEdward/HGB_Edward/HGB_Edward.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/codeEdward/codeEdward/HGB_Edward/HGB_Edward.xcodeproj/project.xcworkspace/xcuserdata/edus.xcuserdatad/UserInterfaceState (Edward’s MacBook Pro's conflicted copy 2017-03-16).xcuserstate
/codeEdward/codeEdward/HGB_Edward/HGB_Edward.xcodeproj/project.xcworkspace/xcuserdata/edus.xcuserdatad/UserInterfaceState.xcuserstate
/codeEdward/codeEdward/HGB_Edward/HGB_Edward.xcodeproj/project.xcworkspace/xcuserdata/edus.xcuserdatad/xcdebugger/Expressions.xcexplist
/codeEdward/codeEdward/HGB_Edward/HGB_Edward.xcodeproj/xcuserdata/edus.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/codeEdward/codeEdward/HGB_Edward/HGB_Edward.xcodeproj/xcuserdata/edus.xcuserdatad/xcschemes/SM_Edward.xcscheme
/codeEdward/codeEdward/HGB_Edward/HGB_Edward.xcodeproj/xcuserdata/edus.xcuserdatad/xcschemes/xcschememanagement.plist
/codeEdward/codeEdward/HGB_Edward/hgbInterval.sh
/codeEdward/codeEdward/HGB_Edward/include/dealpng.h
/codeEdward/codeEdward/HGB_Edward/include/graphSegmentation.h
/codeEdward/codeEdward/HGB_Edward/include/lcomptree.h
/codeEdward/codeEdward/HGB_Edward/include/lhierarchie.h
/codeEdward/codeEdward/HGB_Edward/include/list.h
/codeEdward/codeEdward/HGB_Edward/include/llca.h
/codeEdward/codeEdward/HGB_Edward/include/mccodimage.h
/codeEdward/codeEdward/HGB_Edward/include/mcimage.h
/codeEdward/codeEdward/HGB_Edward/include/mcmesh.h
/codeEdward/codeEdward/HGB_Edward/include/mcsort.h
/codeEdward/codeEdward/HGB_Edward/include/mcunionfind.h
/codeEdward/codeEdward/HGB_Edward/include/mcutil.h
/codeEdward/codeEdward/HGB_Edward/include/mcweightgraph.h
/codeEdward/codeEdward/HGB_Edward/include/MST.h
/codeEdward/codeEdward/HGB_Edward/li.make
/codeEdward/codeEdward/HGB_Edward/linux/bin/HgbSegInterval
/codeEdward/codeEdward/HGB_Edward/linux/bin/ultramopen
/codeEdward/codeEdward/HGB_Edward/linux/obj/graphSegmentation.o
/codeEdward/codeEdward/HGB_Edward/linux/obj/lcomptree.o
/codeEdward/codeEdward/HGB_Edward/linux/obj/lhierarchie.o
/codeEdward/codeEdward/HGB_Edward/linux/obj/list.o
/codeEdward/codeEdward/HGB_Edward/linux/obj/llca.o
/codeEdward/codeEdward/HGB_Edward/linux/obj/mcsort.o
/codeEdward/codeEdward/HGB_Edward/linux/obj/mcunionfind.o
/codeEdward/codeEdward/HGB_Edward/linux/obj/mcweightgraph.o
/codeEdward/codeEdward/HGB_Edward/linux/obj/MST.o
/codeEdward/codeEdward/HGB_Edward/makefile
/codeEdward/codeEdward/HGB_Edward/makelin
/codeEdward/codeEdward/HGB_Edward/README
/codeEdward/codeEdward/HGB_Edward/src/com/computeQFZ.c
/codeEdward/codeEdward/HGB_Edward/src/com/dualHGB.c
/codeEdward/codeEdward/HGB_Edward/src/com/HgbSegInterval.c
/codeEdward/codeEdward/HGB_Edward/src/com/HgbSegmentation.c
/codeEdward/codeEdward/HGB_Edward/src/com/incremental.c
/codeEdward/codeEdward/HGB_Edward/src/com/incrementalSegmentation.c
/codeEdward/codeEdward/HGB_Edward/src/com/ppm2graph.c
/codeEdward/codeEdward/HGB_Edward/src/com/ultramopen.c
/codeEdward/codeEdward/HGB_Edward/src/lib/dealpng.c
/codeEdward/codeEdward/HGB_Edward/src/lib/graphSegmentation.c
/codeEdward/codeEdward/HGB_Edward/src/lib/lcomptree.c
/codeEdward/codeEdward/HGB_Edward/src/lib/lhierarchie.c
/codeEdward/codeEdward/HGB_Edward/src/lib/list.c
/codeEdward/codeEdward/HGB_Edward/src/lib/llca.c
/codeEdward/codeEdward/HGB_Edward/src/lib/mcimage.c
/codeEdward/codeEdward/HGB_Edward/src/lib/mciomesh.c
/codeEdward/codeEdward/HGB_Edward/src/lib/mcsort.c
/codeEdward/codeEdward/HGB_Edward/src/lib/mcunionfind.c
/codeEdward/codeEdward/HGB_Edward/src/lib/mcweightgraph.c
/codeEdward/codeEdward/HGB_Edward/src/lib/MST.c
/codeEdward/codeEdward/hgbGraphInterval.sh
/codeEdward/codeEdward/image2graph/17067.graph
/codeEdward/codeEdward/image2graph/21.graph
/codeEdward/codeEdward/image2graph/3063.graph
/codeEdward/codeEdward/image2graph/build/build/CMakeCache.txt
/codeEdward/codeEdward/image2graph/build/build/CMakeFiles/cmake.check_cache
/codeEdward/codeEdward/image2graph/build/CMakeCache.txt
/codeEdward/codeEdward/image2graph/build/CMakeFiles/cmake.check_cache
/codeEdward/codeEdward/image2graph/general.make
/codeEdward/codeEdward/image2graph/image2graph.xcodeproj/project.pbxproj
/codeEdward/codeEdward/image2graph/image2graph.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/codeEdward/codeEdward/image2graph/image2graph.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/codeEdward/codeEdward/image2graph/image2graph.xcodeproj/project.xcworkspace/xcuserdata/edus.xcuserdatad/UserInterfaceState.xcuserstate
/codeEdward/codeEdward/image2graph/image2graph.xcodeproj/xcuserdata/edus.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/codeEdward/codeEdward/image2graph/image2graph.xcodeproj/xcuserdata/edus.xcuserdatad/xcschemes/image2graph.xcscheme
/codeEdward/codeEdward/image2graph/image2graph.xcodeproj/xcuserdata/edus.xcuserdatad/xcschemes/xcschememanagement.plist
/codeEdward/codeEdward/image2graph/img6.pgm
/codeEdward/codeEdward/image2graph/include/lcomptree.h
/codeEdward/codeEdward/image2graph/include/lhierarchie.h
/codeEdward/codeEdward/image2graph/include/llca.h
/codeEdward/codeEdward/image2graph/include/mccodimage.h
/codeEdward/codeEdward/image2graph/include/mcimage.h
/codeEdward/codeEdward/image2graph/include/mcsort.h
/codeEdward/codeEdward/image2graph/include/mcunionfind.h
/codeEdward/codeEdward/image2graph/include/mcutil.h
/codeEdward/codeEdward/image2graph/include/mcweightgraph.h
/codeEdward/codeEdward/image2graph/li.make
/codeEdward/codeEdward/image2graph/linux/bin/ppm2graph
/codeEdward/codeEdward/image2graph/linux/obj/mcimage.o
/codeEdward/codeEdward/image2graph/linux/obj/mcweightgraph.o
/codeEdward/codeEdward/image2graph/makefile
/codeEdward/codeEdward/image2graph/makelin
/codeEdward/codeEdward/image2graph/pato.pgm
/codeEdward/codeEdward/image2graph/README
/codeEdward/codeEdward/image2graph/SH1.pgm
/codeEdward/codeEdward/image2graph/src/com/ppm2graph.c
/codeEdward/codeEdward/image2graph/src/lib/lcomptree.c
/codeEdward/codeEdward/image2graph/src/lib/lhierarchie.c
/codeEdward/codeEdward/image2graph/src/lib/llca.c
/codeEdward/codeEdward/image2graph/src/lib/mcimage.c
/codeEdward/codeEdward/image2graph/src/lib/mcsort.c
/codeEdward/codeEdward/image2graph/src/lib/mcunionfind.c
/codeEdward/codeEdward/image2graph/src/lib/mcweightgraph.c
/codeEdward/codeEdward/img.graph
/codeEdward/codeEdward/img.ppm
/codeEdward/codeEdward/out.pgm
/codeEdward/codeEdward/sm/general.make
/codeEdward/codeEdward/sm/Images/SH1.pgm
/codeEdward/codeEdward/sm/include/fib.h
/codeEdward/codeEdward/sm/include/fibpriv.h
/codeEdward/codeEdward/sm/include/lcomptree.h
/codeEdward/codeEdward/sm/include/lgraphmesh.h
/codeEdward/codeEdward/sm/include/lhierarchie.h
/codeEdward/codeEdward/sm/include/lhisto.h
/codeEdward/codeEdward/sm/include/llca.h
/codeEdward/codeEdward/sm/include/lwatershedcut.h
/codeEdward/codeEdward/sm/include/mccodimage.h
/codeEdward/codeEdward/sm/include/mcgeo.h
/codeEdward/codeEdward/sm/include/mcimage.h
/codeEdward/codeEdward/sm/include/mciomesh.h
/codeEdward/codeEdward/sm/include/mclifo.h
/codeEdward/codeEdward/sm/include/mcmesh.h
/codeEdward/codeEdward/sm/include/mcprobas.h
/codeEdward/codeEdward/sm/include/mcrbt1.h
/codeEdward/codeEdward/sm/include/mcsort.h
/codeEdward/codeEdward/sm/include/mcunionfind.h
/codeEdward/codeEdward/sm/include/mcutil.h
/codeEdward/codeEdward/sm/include/mcweightgraph.h
/codeEdward/codeEdward/sm/li.make
/codeEdward/codeEdward/sm/linux/bin/extinctionvalues
/codeEdward/codeEdward/sm/linux/bin/float2byte
/codeEdward/codeEdward/sm/linux/bin/graph2pgm
/codeEdward/codeEdward/sm/linux/bin/graphmeshconverter
/codeEdward/codeEdward/sm/linux/bin/pgm2graph
/codeEdward/codeEdward/sm/linux/bin/ultramopen
/codeEdward/codeEdward/sm/linux/bin/uprooting
/codeEdward/codeEdward/sm/linux/obj/fib.o
/codeEdward/codeEdward/sm/linux/obj/lcomptree.o
/codeEdward/codeEdward/sm/linux/obj/lgraphmesh.o
/codeEdward/codeEdward/sm/linux/obj/lhierarchie.o
/codeEdward/codeEdward/sm/linux/obj/lhisto.o
/codeEdward/codeEdward/sm/linux/obj/llca.o
/codeEdward/codeEdward/sm/linux/obj/lwatershedcut.o
/codeEdward/codeEdward/sm/linux/obj/mcgeo.o
/codeEdward/codeEdward/sm/linux/obj/mcimage.o
/codeEdward/codeEdward/sm/linux/obj/mciomesh.o
/codeEdward/codeEdward/sm/linux/obj/mclifo.o
/codeEdward/codeEdward/sm/linux/obj/mcmesh.o
/codeEdward/codeEdward/sm/linux/obj/mcprobas.o
/codeEdward/codeEdward/sm/linux/obj/mcrbt1.o
/codeEdward/codeEdward/sm/linux/obj/mcsort.o
/codeEdward/codeEdward/sm/linux/obj/mcunionfind.o
/codeEdward/codeEdward/sm/linux/obj/mcweightgraph.o
/codeEdward/codeEdward/sm/makefile
/codeEdward/codeEdward/sm/makelin
/codeEdward/codeEdward/sm/README
/codeEdward/codeEdward/sm/saillancepgm.sh
/codeEdward/codeEdward/sm/src/com/extinctionvalues.c
/codeEdward/codeEdward/sm/src/com/float2byte.c
/codeEdward/codeEdward/sm/src/com/graph2pgm.c
/codeEdward/codeEdward/sm/src/com/graphmeshconverter.c
/codeEdward/codeEdward/sm/src/com/pgm2graph.c
/codeEdward/codeEdward/sm/src/com/ultramopen.c
/codeEdward/codeEdward/sm/src/com/uprooting.c
/codeEdward/codeEdward/sm/src/lib/fib.c
/codeEdward/codeEdward/sm/src/lib/lcomptree.c
/codeEdward/codeEdward/sm/src/lib/lgraphmesh.c
/codeEdward/codeEdward/sm/src/lib/lhierarchie.c
/codeEdward/codeEdward/sm/src/lib/lhisto.c
/codeEdward/codeEdward/sm/src/lib/llca.c
/codeEdward/codeEdward/sm/src/lib/lwatershedcut.c
/codeEdward/codeEdward/sm/src/lib/mcgeo.c
/codeEdward/codeEdward/sm/src/lib/mcimage.c
/codeEdward/codeEdward/sm/src/lib/mciomesh.c
/codeEdward/codeEdward/sm/src/lib/mclifo.c
/codeEdward/codeEdward/sm/src/lib/mcmesh.c
/codeEdward/codeEdward/sm/src/lib/mcprobas.c
/codeEdward/codeEdward/sm/src/lib/mcrbt1.c
/codeEdward/codeEdward/sm/src/lib/mcsort.c
/codeEdward/codeEdward/sm/src/lib/mcunionfind.c
/codeEdward/codeEdward/sm/src/lib/mcweightgraph.c
/codeEdward/codeEdward/UpperBoundBenjamin/include/base.h
/codeEdward/codeEdward/UpperBoundBenjamin/include/bptio.h
/codeEdward/codeEdward/UpperBoundBenjamin/include/evalcombiPartition.h
/codeEdward/codeEdward/UpperBoundBenjamin/include/evalcombiPartition_back.h
/codeEdward/codeEdward/UpperBoundBenjamin/include/fib.h
/codeEdward/codeEdward/UpperBoundBenjamin/include/fibpriv.h
/codeEdward/codeEdward/UpperBoundBenjamin/include/lcomptree.h
/codeEdward/codeEdward/UpperBoundBenjamin/include/lgraphmesh.h
/codeEdward/codeEdward/UpperBoundBenjamin/include/lhierarchie.h
/codeEdward/codeEdward/UpperBoundBenjamin/include/lhisto.h
/codeEdward/codeEdward/UpperBoundBenjamin/include/llca.h
/codeEdward/codeEdward/UpperBoundBenjamin/include/lwatershedcut.h
/codeEdward/codeEdward/UpperBoundBenjamin/include/mccodimage.h
/codeEdward/codeEdward/UpperBoundBenjamin/include/mcgeo.h
/codeEdward/codeEdward/UpperBoundBenjamin/include/mcimage.h
/codeEdward/codeEdward/UpperBoundBenjamin/include/mciomesh.h
/codeEdward/codeEdward/UpperBoundBenjamin/include/mclifo.h
/codeEdward/codeEdward/UpperBoundBenjamin/include/mcmesh.h
/codeEdward/codeEdward/UpperBoundBenjamin/include/mcprobas.h
/codeEdward/codeEdward/UpperBoundBenjamin/include/mcrbt1.h
/codeEdward/codeEdward/UpperBoundBenjamin/include/mcsort.h
/codeEdward/codeEdward/UpperBoundBenjamin/include/mcunionfind.h
/codeEdward/codeEdward/UpperBoundBenjamin/include/mcutil.h
/codeEdward/codeEdward/UpperBoundBenjamin/include/mcweightgraph.h
/codeEdward/codeEdward/UpperBoundBenjamin/li.make
/codeEdward/codeEdward/UpperBoundBenjamin/linux/bin/areaFilter
/codeEdward/codeEdward/UpperBoundBenjamin/linux/bin/evalcombi
/codeEdward/codeEdward/UpperBoundBenjamin/linux/bin/evalcombiPartition
/codeEdward/codeEdward/UpperBoundBenjamin/linux/bin/evalMarkedSegmentation
/codeEdward/codeEdward/UpperBoundBenjamin/linux/bin/evalThresholdOneObj
/codeEdward/codeEdward/UpperBoundBenjamin/linux/bin/testBPTio
/codeEdward/codeEdward/UpperBoundBenjamin/linux/bin/ucm2graph
/codeEdward/codeEdward/UpperBoundBenjamin/linux/bin/ultramopen
/codeEdward/codeEdward/UpperBoundBenjamin/linux/bin/volumeFilter
/codeEdward/codeEdward/UpperBoundBenjamin/linux/obj/base.o
/codeEdward/codeEdward/UpperBoundBenjamin/linux/obj/bptio.o
/codeEdward/codeEdward/UpperBoundBenjamin/linux/obj/fib.o
/codeEdward/codeEdward/UpperBoundBenjamin/linux/obj/lcomptree.o
/codeEdward/codeEdward/UpperBoundBenjamin/linux/obj/lhierarchie.o
/codeEdward/codeEdward/UpperBoundBenjamin/linux/obj/llca.o
/codeEdward/codeEdward/UpperBoundBenjamin/linux/obj/lwatershedcut.o
/codeEdward/codeEdward/UpperBoundBenjamin/linux/obj/mcimage.o
/codeEdward/codeEdward/UpperBoundBenjamin/linux/obj/mclifo.o
/codeEdward/codeEdward/UpperBoundBenjamin/linux/obj/mcsort.o
/codeEdward/codeEdward/UpperBoundBenjamin/linux/obj/mcunionfind.o
/codeEdward/codeEdward/UpperBoundBenjamin/linux/obj/mcweightgraph.o
/codeEdward/codeEdward/UpperBoundBenjamin/makefile
/codeEdward/codeEdward/UpperBoundBenjamin/src/com/areaFilter.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/com/evalcombi.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/com/evalcombi_bak.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/com/evalcombiPartition.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/com/evalcombiPartition_back.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/com/evalcombiPartition_back2.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/com/evalcombiPartition_back3.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/com/evalMarkedSegmentation.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/com/evalThresholdOneObj.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/com/extinctionvalues.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/com/float2byte.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/com/graph2mat.cpp
/codeEdward/codeEdward/UpperBoundBenjamin/src/com/graph2pgm.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/com/graphmeshconverter.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/com/pgm2graph.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/com/testBPTio.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/com/ucm2graph.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/com/ultramopen.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/com/uprooting.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/com/volumeFilter.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/lib/base.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/lib/bptio.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/lib/fib.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/lib/lcomptree.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/lib/lgraphmesh.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/lib/lhierarchie.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/lib/lhisto.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/lib/llca.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/lib/lwatershedcut.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/lib/mcgeo.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/lib/mcimage.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/lib/mciomesh.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/lib/mclifo.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/lib/mcmesh.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/lib/mcprobas.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/lib/mcrbt1.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/lib/mcsort.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/lib/mcunionfind.c
/codeEdward/codeEdward/UpperBoundBenjamin/src/lib/mcweightgraph.c
/__pycache__/model.cpython-35.pyc
/__pycache__/model.cpython-35.pyc
